{{ define "main" }}
<main>
  <article>
    <h2>{{ .Params.title }}</h2>

    {{ $dateLayout := "Mon Jan 2 2006 15:04:05 MST"}}
    <small>{{ dateFormat $dateLayout .Date.Local }}</small>

    {{ with .Params.single_author_select }}
      <h5>Single author:   {{ . }}</h5>
    {{ end }}

    {{ with .Params.multiple_author_select }}
      <h5>Multiple authors:   {{ . }}</h5>
    {{ end }}


    <div>
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
